<div id="footer">
    <div id="logo-footer">
        <img src="assets/white_newlogo_3780x1145-1.webp" alt="">
    </div>
    <div class="menu-footer">
        <h3>Sobre nós</h3>
        <li><a href="">Institucional</a></li>
        <li><a href="">Atuação</a></li>
        <li><a href="">Obras</a></li>
        <li><a href="">Clientes</a></li>
        <li><a href="">LGPD</a></li>
        <li><a href="">Compliance</a></li>
    </div>
    <div class="contato-footer">
        <h3>Contato</h3>
        <p>+55 11 5186-5555</p>
        <p><a href="mailto:contato&#64;planem.com.br">contato&#64;planem.com.br</a></p>
        <p><a href="mailto:trabalheconosco&#64;planem.com.br">Email RH</a></p>
    </div>

    <div class="endereco-footer">
        <h3>Endereço</h3>
        <p>Av. Das Nações Unidas, 11633, CJ63 - 6º andar</p>
        <p>CEP: 04578-901</p>
        <p>Brooklin Paulista, São Paulo / SP</p>
    </div>
</div>