<div id="header">
    <div class="div-overlay"></div>
    <div id="navigation">
        <div id="logo">
            <img src="assets/white_newlogo_3780x1145-1.webp" alt="Logo Planem">
        </div>
        <ul>
            <li><a href="institucional">Institucional</a></li>
            <li><a href="atuacao">Atuação</a></li>
            <li><a href="obras">Obras</a></li>
            <li><a href="clientes">Clientes</a></li>
            <li><a href="https://www.dinamicagestao.com.br/lgpd/planem">LGPD</a></li>
            <li><a href="https://www.dinamicagestao.com.br/compliance/planem">Compliance</a></li>
        </ul>
        <!-- <div id="social-media">
            <a href=""><img src="assets/icon_ig_56x56.png" alt=""></a>
            <a href=""><img src="assets/icon_in_56x56.png" alt=""></a>
        </div> -->
    </div>
    <h1>{{this.header.tituloAtivo.value}}</h1>
</div>