<div class="column ch">

    <div class="content">
        <h2>Planem Engenharia</h2>
        <div class="text row w100">
            Fundada em 1974, a Planem Engenharia tem mais de 1.400 contratos executados em todo o território nacional, e especializou-se na execução de instalações e montagens elétricas, hidráulicas e mecânicas nos mais diferentes segmentos:
        </div>
        <div class="row glass w100">
            <div class="column w50" style="text-align: center;">
                <p>Missão Crítica</p>
                <p>Hospitalares</p>
                <p>Comerciais</p>
            </div>
            <div class="column w50" style="text-align: center;">
                <p>Shopping Centers</p>
                <p>Infraestrutura</p>
                <p>Industriais</p>
            </div>
        </div>
        <div class="text row"> A Planem sempre se destacou pela alta qualidade. Isso se deve a constantes investimentos no desenvolvimento e na formação de profissionais, a rigorosos critérios de cumprimento de prazos, ao controle da qualidade e, principalmente, à administração
            descentralizada que confere agilidade às tomadas de decisão e promove a integração entre os diversos departamentos envolvidos, garantindo um completo atendimento das necessidades do cliente. Transparência, ética e responsabilidade social são
            princípios fundamentais que estão integrados na cultura de trabalho dos colaboradores da Planem, o que traz todos os elementos determinantes para superar os obstáculos e desafios do futuro.
        </div>
        <div class="row spaced">
            <div class="column w25 card glass">
                <img class="filter-yellow" src="../../../assets/basic-pencil-ruler.svg" alt="Regua e lapis" />
                <p>Prestar serviços de engenharia agregando valor aos empreendimentos dos nossos clientes e bem-estar à sociedade</p>
            </div>
            <div class="column w25 card glass">
                <img class="filter-yellow" src="../../../assets/basic-settings.svg" alt="Regua e lapis" />
                <p>Ser uma empresa reconhecida por sua competência em soluções de engenharia, pela qualidade aplicada aos processos e pelo conhecimento técnico no segmento onde atua.</p>
            </div>
            <div class="column w25 card glass">
                <img class="filter-yellow" src="../../../assets/basic-pencil-ruler-pen.svg" alt="Regua e lapis" />
                <p>Respeito ao ser humano; ética e princípios; foco no desenvolvimento sustentável; vocação para o crescimento.</p>
            </div>
        </div>
    </div>
    <div class="background-gray column ch">
        <div class="content">
            <div class="column w100 glass card">

                <h3>Responsabilidade Sócio-Ambiental</h3>
                <div class="text row">Na Planem, a responsabilidade social e ambiental é um conceito que se aplica a toda a cadeia produtiva. Os fatores ambientais e sociais não devem ser avaliados somente nas atividades finais: por ser de interesse comum, o conceito deve
                    ser difundido ao longo de todo processo executivo. Como consumidoras, as empresas também são responsáveis por seus fornecedores e parceiros, e devem exigir seus códigos de ética, bem como o dos produtos e serviços usados ao longo dos
                    seus processos produtivos.
                </div>
            </div>

            <div class="row w100 glass card">
                <div class="column w50">
                    <h3>Responsabilidade Social</h3>
                    <div class="text row">A Planem apoia a Fundação ABRINQ – Save the Children no desenvolvimento de programas e projetos que melhorem a qualidade de vida e promovam a efetivação de direitos de crianças e adolescentes.</div>
                </div>
                <div class="column w50">
                    <img src="../../../assets/abrinq_2016-450x314.webp" alt="Fundacao ABRIQ 2016">
                </div>
            </div>
            <div class="column glass card w100">
                <div class="column glass card m20 w80 m0h">
                    <h3>Responsabilidade Ambiental</h3>
                    <div class="text row">A Planem Engenharia aplica na sua sede e em todas as unidades avançadas em seus canteiros de obras:</div>
                </div>
                <div class="row">
                    <div class="column w50">
                        <div class="column glass card m20">
                            <h4>Eficiência Energética</h4>
                            <div class="row">
                                <i class="pi pi-check"></i>
                                <span>Equipamentos elétricos de alta performance</span>
                            </div>
                            <div class="row">
                                <i class="pi pi-check"></i>
                                <span>Computadores, notebooks e impressoras de baixo consumo e com selo de eficiência</span>
                            </div>
                            <div class="row">
                                <i class="pi pi-check"></i>
                                <span>Setorização dos circuitos de iluminação</span>
                            </div>
                            <div class="row">
                                <i class="pi pi-check"></i>
                                <span>Vidros com proteção térmica e acústica</span>
                            </div>
                            <div class="row">
                                <i class="pi pi-check"></i>
                                <span>Persianas de material antitérmico e antirruído</span>
                            </div>

                        </div>
                        <div class="column glass card m20">
                            <h4>Racionalização da água</h4>
                            <div class="row">
                                <i class="pi pi-check"></i>
                                <span>Dispositivos com fechamentos automáticos</span>
                            </div>
                            <div class="row">
                                <i class="pi pi-check"></i>
                                <span>Torneiras com sensor de presença</span>
                            </div>
                            <div class="row">
                                <i class="pi pi-check"></i>
                                <span>Registros gerais com restritores de vazão</span>
                            </div>
                        </div>
                        <div class="column glass card m20">
                            <h4>Gestão de Resíduos</h4>
                            <div class="row">
                                <i class="pi pi-check"></i>
                                <span>Coleta seletiva de resíduos garante a destinação correta para reciclagem</span>
                            </div>

                        </div>
                    </div>
                    <div class="column w50 glass card m20">
                        <h4>Materiais Sustentáveis</h4>
                        <div class="row">
                            <i class="pi pi-check"></i>
                            <span>Tintas à base de água sem odores e resíduos tóxicos</span>
                        </div>
                        <div class="row">
                            <i class="pi pi-check"></i>
                            <span>Madeiras dos móveis e divisórias com 100% de origem certificada FSC</span>
                        </div>
                        <div class="row">
                            <i class="pi pi-check"></i>
                            <span>Carpete de fibras orgânicas reciclável com 100% de reaproveitamento ao fim da vida útil</span>
                        </div>
                        <div class="row">
                            <i class="pi pi-check"></i>
                            <span>Vidros com alto índice de refletância e recicláveis com 100% de reaproveitamento</span>
                        </div>
                        <div class="row">
                            <i class="pi pi-check"></i>
                            <span>Cadeiras com assento de material 100% reciclável de reaproveitamento ao fim da vida útil</span>
                        </div>
                        <div class="row">
                            <i class="pi pi-check"></i>
                            <span>Sistema de climatização com renovação do ar e baixo consumo de energia</span>
                        </div>
                        <div class="row">
                            <i class="pi pi-check"></i>
                            <span>Sistema de refrigeração com gases de impacto reduzido na camada de ozônio e no efeito estufa</span>
                        </div>
                        <div class="row">
                            <i class="pi pi-check"></i>
                            <span>Forro de fibra mineral termoacústico com melhor qualidade de trabalho e bem-estar</span>
                        </div>
                        <div class="row">
                            <i class="pi pi-check"></i>
                            <span>Paredes fabricadas a partir de gypsita natural 100% reciclável ao fim da vida útil.</span>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>