@import "primeicons/primeicons.css";
.filter-yellow {
    filter: invert(65%) sepia(98%) saturate(865%) hue-rotate(360deg) brightness(100%) contrast(105%);
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.ch {
    align-items: center;
}

.cv {
    justify-content: center;
}

.content {
    width: 60vw;
}

.w50 {
    width: 50%;
}

.w30 {
    width: 30%;
}